<section data-header-color="black" class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden">
    <div class="z-30 relative h-full flex flex-col text-black">
        <header class="">
            <h2 class="pt-40 font-medium text-[40px]">Model 3</h2>
            <a href="#" class="text-sm border-b-2 border-black">Agenda una prueba de manejo</a>
        </header>
        <footer class="flex flex-col h-full flex-grow justify-end pb-20">
            <div class="flex gap-4 justify-center">
                <a class="border-[3px] bg-white border-white rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="#">Orden Personalizada</a>

                <a class="border-[3px] text-white bg-zinc-700 border-zinc-700 rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black hover:border-white transition-colors" href="#">Mas Informacion</a>
            </div>
        </footer>
    </div>

    <div class=" absolute top-0 bottom-0 h-full z-10 w-full">
        <img class="object-cover h-full w-full" src="/model3.avif"></img>
    </div>
</section>