<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden" data-header-color="white">
    <div class="z-30 relative h-full flex flex-col text-white">
        <header class="">
            <h2 class="pt-40 font-medium text-[40px]">Vive la experiencia Tesla</h2>
            <p class="text-sm">Agenda hoy una prueba de manejo</p>
        </header>
        <footer class="flex flex-col h-full flex-grow justify-end pb-20">
            <div class="">
                <a class="border-[3px] border-white rounded font-medium px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors" href="#">Prueba de manejo</a>
            </div>
        </footer>
    </div>

    <div class=" absolute top-0 bottom-0 h-full z-10 w-full">
        <video class="object-cover h-full w-full" muted autoplay loop src="/video.webm"></video>
    </div>
</section>